<!DOCTYPE html>
<html>
<head>
    <title>Stock Information</title>
</head>
<body>
    <h1>Stock Information</h1>
    <table border="1">
        <tr>
            <th>Hisse</th>
            <th>Fiyat</th>
            <th>Dünkü Fiyat</th>
            <th>Oran</th>
        </tr>
        {% for stock, details in stock_dict.items() %}
        <tr>
            <td>{{ stock }}</td>
            <td>{{ details["Fiyat"] }}</td>
            <td>{{ details["Dunku Kapanis"] }}</td>
            <td>{{ details["Yuzdelik Degisim"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
